@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  background-color: hsl(0, 0%, 98%);
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body-container{
  padding: 20px 25px;
}

@media (min-width: 500px) {
  .body-container {
    padding: 20px 70px;
  }
}

.shadow{
  box-shadow: 0px 1px 3px 1px rgb(0 0 0 / 25%);
}

/* NAV BAR*/

.weathr-nav{
  display: block;
  justify-content: space-between;
  background-color: #99CCFF;
  color: #FFFFFF;
}

.nav-header{
  display: flex;
  justify-content: space-between;
}

.nav-header .title{
  font-size: 20px;
  font-weight: bolder;
  display: table;
}

.nav-header .title span{
  display: table-cell;
  vertical-align: middle;
}


.mobile-menu{
    font-size: 14px;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #99CCFF;    
    padding-top: 15px;
}

.mobile-menu ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.mobile-menu li {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 8px;
  color: #f2f2f2;
  list-style: none;
  cursor: pointer;
}

.desktop-menu{
  display: none;
}

.toogle-theme{
  font-size: 15px;
  font-weight: bold;
  display: table;
}

.toogle-theme span{
  display: table-cell;
  vertical-align: middle;
}

@media (min-width: 500px) {
  .mobile-menu{
    display: none;
  }
  .list-icon{
    display: none;
  }
  .desktop-menu{
    width: 30%;
    justify-content: space-around;
    display: flex;
  }  
}



.weathr-search-navbar{
  display: table;
}
.search-input{
  font-size: 14px;
  padding: 4px;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  background-color: #99CCFF;
  display: table-cell;
  vertical-align: middle;
}

.search-input:focus {
  outline: none !important;
}

.search-icon{
  display: table-cell;
  vertical-align: middle;
}

/* WEATHER DSIPLAY RESUME */

.weathr-resume{
  width: 250px;
  margin: 0px auto;
  border: 2px solid #595959;
  border-radius: 18px;
  padding: 15px 20px;
}

.resume-main{
  display: flex;
  justify-content: space-between;
}

.resume-main .resume-title{
  font-size: 20px;
  font-weight: bold;
}

.resume-main .resume-description{
  font-size: 16px;
  font-weight: bold;
}

.resume-main .resume-condition{
  display: flex;
}

.resume-main .resume-condition span{
  font-size: 16px;
  font-weight: bold;
}

.resume-details{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.other-conditions{
  display: grid;
  text-align: left;
}

.other-conditions span{
  font-size: 14px;
}

.temps-mm{
  display: flex;
}

.temps-mm .max{
  font-size: 15px;
  display: table-cell;
  vertical-align: middle;
}
.temps-mm .min{
  font-size: 13px;
  color: #808080;
  padding-left: 6px;
  display: table-cell;
  vertical-align: middle;
}


@media (min-width: 500px) {
  .weathr-resume{
    width: 500px;
    margin: 0px auto;
    border: 2px solid #595959;
    border-radius: 18px;
    padding: 30px;
  }
}